body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 45px;
}

h3:not(.donate-plans h3) {
    font-size: 38px;
}

#donate-now {
    width: 50%;
    margin: auto auto;
    width: 50%;
    text-align: center;
    /* padding-top: 50px; */
}

.upper-part {
    color: white;
    /* text-align: center; */
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
}

.anchor-link {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#ff5959c3, #FF5959);
    padding: 10px 20px;
    border-radius: 5px;
}

.center-content {
    width: 50%;
    margin: auto auto;
    width: 50%;
    text-align: center;
    /* padding-top: 50px; */
    margin-bottom: 50px;
}



.donate-tk {
    display: flex;
}

.amount-digit {
    text-align: center;
    /* box-shadow: 5px 5px 5px grey; */
    background-color: #f8f8f8;
    padding: 0px 20px;
    margin-right: 10px;
    font-weight: bold;
    color: gray;
    border-radius: 5px;
}

#red-bg {
    border: 2px solid red;
    background-color: hsl(0, 27%, 92%);
    color: red;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid gray;
}

::placeholder {
    color: gray;
    font-size: 15px;
    text-align: center;
}

.donate-plans {
    display: flex;
    width: 70%;
    margin: auto auto;
    text-align: center;
    /* padding-top: 50px; */
    margin-bottom: 80px;
}

.single-plan {
    text-align: left;
    background-color: rgba(79, 157, 166, .2);
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 33%;
}

#food {
    background-color: rgba(79, 157, 166, .2);
}

#shelter {
    background-color: rgba(255, 89, 89, .2);
}

#education {
    background-color: rgba(255, 255, 0, .2);
}

footer {
    background-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.be-humble {
    color: #FF5959;
    font-family: 'Poppins', sans-serif;
}

footer p {
    color: white;
    font-size: 14px;
}

.newsletter {
    width: 50%;
    background-color: rgba(255, 255, 0, .17);
    padding: 70px 100px;

}

input[type=email] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: rgba(128, 128, 128, 0.516);
    /* border-bottom: 2px solid gray; */

}

.two-part {
    display: flex;
}

.half-width {
    width: 35%;
    margin: auto auto;
    text-align: center;
    /* padding-top: 50px; */
    margin-bottom: 50px;

}

.half-width img {
    width: 100%;
}

.menu-container {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
}

.menu {

    display: inline-block;
    padding: 20px 20px;
}

a:link,
a {

    color: white;
    padding: 0x 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}


a:hover,
a:active {
    background-color: red;
    color: black;
}